/* CONTAINER DI TENGAH */
.success-container {
  position: relative;
  z-index: 2;

  background: #ffffff;
  width: 100%;
  max-width: 460px;
  padding: 40px 32px;
  border-radius: 10px;

  text-align: center;

  animation: popIn 0.5s ease;
}

/* TITLE */
.success-container h1 {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

/* TEXT */
.success-msg {
  font-size: 1.05rem;
  margin-bottom: 12px;
}

.note {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 28px;
}

/* BUTTON */
.success-btn {
  display: inline-block;
  padding: 14px 28px;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  border-radius: 4px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.success-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* ANIMATION */
@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.receipt-box {
  background: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.3);
  padding: 16px;
  border-radius: 12px;
  margin: 20px 0;
  text-align: left;
}

.receipt-box p {
  margin: 6px 0;
  font-size: 15px;
}

.paid {
  color: #00ff9c;
  font-weight: bold;
}
